/**************************************************************   Import Fonts   ********************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&display=swap');
/* Skeleton */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Dancing Script', 'pacifico','courgette', sans-serif;
}

main{
margin-left: auto;
margin-right: auto;
width: 1200px;
}

/***************************************************************    Navbar    **********************************************************************/
.nav {
    background:#362d28;
    height:100px;
    width: 100%;
    position:relative;
    
}

.logo img {
    position: relative;
    left: 0;
}
.nav ul{
    
    float: right;
    margin-right: 20px;
    margin-top: -110px;
}

.nav ul li{
     display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

.nav ul li a{
    color:#F2F2F2;
    text-decoration:none;
    font-weight: bold;
       
}

.nav a.active,.nav a:hover{
    text-transform: uppercase;
    border-bottom: #F2F2F2 solid 2px;
      

}
.checkbtn{
    color: #F2F2F2;
    font-size: 30px;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

@media (max-width: 952px) {
    
      
    .nav ul li a{
        font-size: 16px;
    }
}

@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul {
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #0C2340;
        top:100px;
        left:-100%;
        transition: all 0.5s;
        text-align: center;
    }
    .nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        text-transform: uppercase;
        border-bottom: #F2F2F2 solid 2px;
                    
    }
    #check:checked ~ ul{
        left:0;

    }
}

h1{
    
    height: 100px;
    background-image:url(images/Title\ Banner.png);
    color:#9f500b;
    margin: 50px auto;
    border-radius:8px;
    padding: 25px;
    text-align: center;
    font-family: 'courgette';
}

h2{
    margin-bottom: 25px;
}
/***********************************************************     About     ***********************************************************************/
.about-content{
   max-width: 100%;
   padding: 0%;
   display:flex;
   flex-direction: column;
   padding: 50px;
   gap: 25px;
   }   

p {
    font-size:large;
}

.about-text {
    
    line-height: 1.5;
    font-weight:500;
    width: 100%;
    
        
}

.about-img img{
    width: 100%;
    min-width: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-sizing: border-box;
    height: 300px;
    object-fit: cover;
       
}


@media only screen and (min-width: 1199px){
.about-content{
    display: flex;
    width: 100%;
}}
    
@media only screen and (max-width: 600px){
.about-content {
    display:flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
   }
} 

   
.bt {
    
    background-color: rgb(0, 98, 255);
    cursor: pointer;
    padding: 15px 32px;
    box-sizing:content-box;
    width: 100px;
    margin: 50px auto 50px auto;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}
.bt:hover {
    background-color:rgb(18, 184, 244) ;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.8);
}
.bt a {
    text-decoration: none;
    color: #fff;
}

/************************************************************    Services    ***************************************************************/
.services {
    text-align: center;
}

.wrapper{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.wrapper .box{
    background-color: #a7e5f9;
    border-radius: 8px;
    padding: 25px;
    width: calc(33% - 10px);
    overflow: hidden;
    cursor:pointer;

}

.wrapper .box:hover{
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.8);

}

.wrapper .box p{
    font-size: 16px;
}
.wrapper .box .name{
    font-weight: bold;
    font-size: 17px;
    padding: 5px;
    color:#0C2340;
}

.wrapper .box .stars {
    color:#0C2340;
   
}

.box-img img{
    height: 80%;
    width: 100%;
    border-radius: 8px;
}
.box-text{
    font-weight: bold;
    padding-top:10px;
}

.testemonial{
    margin-top: 25px;
}
/************************************************************    Gallery     ***************************************************************/

.gallery{
    display: grid;
    grid-gap: 20px;
    width: auto;
    
}
.item1 {
    grid-column: 1;
    grid-row: 1;
}
.item2 {
    grid-column: 2;
    grid-row: 1;
}

.item3 {
    grid-column: 3;
    grid-row: 1;
}

.item4 {
    grid-column: 1;
    grid-row: 2;
}
.item5 {
    grid-column: 2;
    grid-row: 2;
} 

.item6 {
    grid-column: 3;
    grid-row: 2;
}
.item7 {
    grid-column:1;
    grid-row: 3;
}

.item8 {
    grid-column: 2;
    grid-row: 3;
}
.item9 {
    grid-column: 3;
    grid-row: 3;
}

.item img {
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 8px;
}

.item img:hover{
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 700px) {
    .gallery {
      display:grid;
      width: 100%;
      
    }
    .item1 {
        grid-column: 1;
        grid-row: 1;
    }
    .item2 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .item3 {
        grid-column: 1;
        grid-row: 3;
    }
    
    .item4 {
        grid-column: 1;
        grid-row: 4;
    }
    .item5 {
        grid-column: 1;
        grid-row: 5;
    } 
    
    .item6 {
        grid-column: 1;
        grid-row: 6;
    }
    .item7 {
        grid-column: 1;
        grid-row: 7;
    }
    
    .item8 {
        grid-column: 1;
        grid-row: 8;
    }
    .item9 {
        grid-column: 1;
        grid-row: 9;
    }  
    
}
  
/**********************************************************************     Contact   *********************************************************************************/
.contact {
    padding: 10px;
    display: flex;
  
}

.contact p{
    font-weight: bold;
}

.message, .map{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 25px auto;
    padding: 2em;
    background-color: #0C2340;
    color: white;
    border-radius: 8px;
  }
  
fieldset {
    border: none;
    padding: 2rem 0;
    font-weight: bold;
    } 


      
input,
textarea
        {
        margin: 10px 0 0 0;
        width: 100%;
        min-height: 2em;

        }  
.thanks{
    text-align: center;
}

.map-loc {
    margin-bottom: 20px;
}

/**********************************************************************     Footer    ********************************************************************************/

.footer {
    display: block;
    position: relative;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: auto;
    background-color:#1d1715;  
    color: #f2f2f2;
    
}
.social {
    min-height: 60px;
    width: auto;
    margin: 0;
    background-color:#023547;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    font-size: 21px;
    padding-top: 15px;
}

.content p{
    padding:2px 15px;
    font-weight: bold;
   }

.infos {
    padding: 15px 50px;
    display: flex;
    justify-content:space-around;
}

ul{
    list-style-type:none;
    padding-bottom: 5px;
   
}
ul>p{
    padding-bottom: 5px;
    font-weight: bold;
          
}

.footer a {
    color: #fff;
    padding: 10px;
}


