/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700;800;900&display=swap');

/* Skeleton */
/* Navbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

.container {
     background-color: black;
        
}  
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navbar-item {
    display: inline-block;
    width:auto;
    padding:0px 15px;
    
}

.container a {
    text-decoration: none;
    color: white;
    font-size: larger;
}
  
.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
}    

h1, p{
    text-align: center;
}
